
# backend django
movie_app_backend/.idea
movie_app_backend/movie_app/migrations
movie_app_backend/movie_app/saved_files
movie_app_backend/venv
movie_app_backend/movie_app_backend/settings.py
movie_app_backend/movie_app/evaluation_scripts/ml-25m/*
!movie_app_backend/movie_app/evaluation_scripts/ml-25m/.gitkeep

# frontend angular
movie-app-frontend/.idea
movie-app-frontend/dist
movie-app-frontend/e2e
movie-app-frontend/node_modules


# auxiliary files for report
report/report.aux
report/report.log
report/report.toc
report/report.out
report/report.synctex.gz

# Project Files
.idea

credentials.json
