<h2>Rated Movies</h2>


<div *ngIf="!authService.isLoggedIn()">
  Please sign in to view your Rated Movies.
</div>

<div [hidden]="!authService.isLoggedIn()">
  <div class="ui-widget">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let title of this.titles" [value]="title">
        {{ title }}
      </mat-option>
    </mat-autocomplete>

    <input placeholder="Movie title"
           (keyup.enter)="getMovies(1);"
           id="movie_title"
           #movieSearchInput
           style="width: 75%"
           [matAutocomplete]="auto">

    <button id="search_button" class="button" type="submit" style="width: 20%" (click)="getMovies(1);">Search!</button>
  </div>
  <!-- Filter Area -->
  <div class="filter_area">
    <h4>Filter</h4>
    <div class="row">
      <!--        Filter Criteria: align left-->
      <div class="col-sm-4" align="left">
        <div class="dropdown">
          <button class="dropbtn">Genre</button>
          <div class="dropdown-content" id="filter_genre">
            <a *ngFor="let genre of ['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
                                     'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical', 'Western', 'Film-Noir']"
               (click)="this.filter.add_genre_filter(genre);">{{ genre }}</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Year</button>
          <div class="dropdown-content" id="filter_year">
            <a *ngFor="let year of ['1950s and earlier', '1960s', '1970s', '1980s', '1990s', '2000s', '2010s']"
               (click)="this.filter.add_year_filter(year);">
              {{ year }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div id="active_genre_filter"></div>
      </div>
      <div class="col-sm-2">
        <div id="active_year_filter"></div>
      </div>
      <!--        Reset Filter Criteria: align right    -->
      <div class="col-sm-4" align="right">
        <button class="button" id="filter_clear" (click)="this.filter.clear_filter();">Clear All Filter!</button>
      </div>
    </div>
  </div>


  <div id="result_nav_area_top" align="center">
    <button class="button" *ngFor="let page of navigationArea.getPagesShown();" (click)="getMovies(page);">
      {{ page }}
    </button>
  </div>

  <div id="movie_list">
    <div *ngFor="let movie of movieQueryResult.getQueryResult()">
      <div class='movie_view_detailed_complete'>
        <img src="{{ movie.urlMoviePoster }}" class='img_movie_view_detailed'>
        <div class='movie_view_detailed_info' id=" {{ movie.movieId }} ">
          <div class ="row" style="background-color: #dee9fa;">
            <div class="movie_title_wrapper" style="margin: 0 5px; font-weight: bold; font-size: 20px;">
              {{ movie.title }}
            </div>
          </div>
          <div class="row" style="padding: 4px 4px;">
            <div class="col-sm-8" style="align-items: center;">
              <p style="height: 36px; margin-top: 0px; margin-bottom: 0px;">
                {{ movie.year }}, {{ movie.country }}, {{ movie.production }}
              </p>
              <p style="height: 36px; margin-top: 0px; margin-bottom: 0px;"> <b>Actors: </b> {{ movie.actors }} </p>
              <p style="height: 36px; margin-top: 0px; margin-bottom: 0px;"> <b>Director: </b> {{ movie.directors }} </p>
              <p style="height: 36px; margin-top: 0px; margin-bottom: 0px;"> <b>Writer: </b> {{ movie.writers }} </p>
              <p style="height: 36px; margin-top: 0px; margin-bottom: 0px;"> <b>Genre: </b> {{ movie.genres }} </p>
            </div>
            <div class='col-sm-4'>
              <p>Imdb-Rating: {{ movie.imdbRating }} </p>
              <!-- Rating Area-->
              <div class="rating_area">
                <fieldset class="rate">
                  <input type="radio" id="rating10_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="10"
                         (click)="movie.rateMovie(5.0, this.http, this.authService);movie.rating=5.0;"
                         [attr.checked]="movie.rating==5.0 ? '' : null"/><label for="rating10_{{movie.movieId}}" title="5 stars"></label>
                  <input type="radio" id="rating9_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="9"
                         (click)="movie.rateMovie(4.5, this.http, this.authService);movie.rating=4.5;"
                         [attr.checked]="movie.rating==4.5 ? '' : null"/><label class="half" for="rating9_{{movie.movieId}}" title="4 1/2 stars"></label>
                  <input type="radio" id="rating8_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="8"
                         (click)="movie.rateMovie(4.0, this.http, this.authService);movie.rating=4.0;"
                         [attr.checked]="movie.rating==4.0 ? '' : null"/><label for="rating8_{{movie.movieId}}" title="4 stars"></label>
                  <input type="radio" id="rating7_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="7"
                         (click)="movie.rateMovie(3.5, this.http, this.authService);movie.rating=3.5;"
                         [attr.checked]="movie.rating==3.5 ? '' : null"/><label class="half" for="rating7_{{movie.movieId}}" title="3 1/2 stars"></label>
                  <input type="radio" id="rating6_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="6"
                         (click)="movie.rateMovie(3.0, this.http, this.authService);movie.rating=3.0;"
                         [attr.checked]="movie.rating==3.0 ? '' : null"/><label for="rating6_{{movie.movieId}}" title="3 stars"></label>
                  <input type="radio" id="rating5_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="5"
                         (click)="movie.rateMovie(2.5, this.http, this.authService);movie.rating=2.5;"
                         [attr.checked]="movie.rating==2.5 ? '' : null"/><label class="half" for="rating5_{{movie.movieId}}" title="2 1/2 stars"></label>
                  <input type="radio" id="rating4_{{movie.movieId}}"
                         name="rating" value="4"
                         (click)="movie.rateMovie(2.0, this.http, this.authService);movie.rating=2.0;"
                         [attr.checked]="movie.rating==2.0 ? '' : null"/><label for="rating4_{{movie.movieId}}" title="2 stars"></label>
                  <input type="radio" id="rating3_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="3"
                         (click)="movie.rateMovie(1.5, this.http, this.authService);movie.rating=1.5;"
                         [attr.checked]="movie.rating==1.5 ? '' : null"/><label class="half" for="rating3_{{movie.movieId}}" title="1 1/2 stars"></label>
                  <input type="radio" id="rating2_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="2"
                         (click)="movie.rateMovie(1.0, this.http, this.authService);movie.rating=1.0;"
                         [attr.checked]="movie.rating==1.0 ? '' : null"/><label for="rating2_{{movie.movieId}}" title="1 star"></label>
                  <input type="radio" id="rating1_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="1"
                         (click)="movie.rateMovie(0.5, this.http, this.authService);movie.rating=0.5;"
                         [attr.checked]="movie.rating==0.5 ? '' : null"/><label class="half" for="rating1_{{movie.movieId}}" title="1/2 star"></label>
                  <input type="radio" id="rating0_{{movie.movieId}}"
                         name="rating_{{movie.movieId}}" value="0"
                         (click)="movie.rateMovie(0, this.http, this.authService);movie.rating=0.0;"
                         [attr.checked]="movie.rating==0.0 ? '' : null"/><label for="rating0_{{movie.movieId}}" title="No star"></label>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!movieQueryResult.statusIsNormal()">
      {{ movieQueryResult.getException() }}
    </div>
  </div>


  <div class="container_loader" id="movie_loader" hidden="true">
    <div class="loader"></div>
    <p>Searching ...</p>
  </div>

  <div id="result_nav_area_bottom" align="center">
    <button class="button" *ngFor="let page of navigationArea.getPagesShown();" (click)="getMovies(page);">
      {{ page }}
    </button>
  </div>
</div>
